<!--<div class="container">-->
<!--  <div class="modal fade" id="potrdiNaročilo" tabindex="-1" role="dialog" aria-labelledby="potrditevNaročila" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title" id="želja">Potrditev</h4>-->
<!--          <button type="button" class="close" data-dismiss="modal"-->
<!--                  aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->

<!--        <div class="modal-body">-->
<!--          <p style="font-size: 15pt;">Ste prepričani v zaključek nakupa in plačilo?</p>-->
<!--          <p class="text-secondary">-->
<!--            Ob preklicu naročila se podatki ne izbrišejo.-->
<!--          </p>-->
<!--        </div>-->

<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Prekliči</button>-->
<!--          <a routerLink=""><button type="submit" class="btn btn-success" id="oddajNarocilo" onclick="validacijaPodatkov()">Oddaj naročilo</button></a>-->
<!--          <script src="/assets/javascripts/skripte.js"></script>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="modal-header">-->
<!--  <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>-->
<!--  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--    <span aria-hidden="true">×</span>-->
<!--  </button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--  This is example from ItSolutionStuff.com-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>-->
<!--</div>-->
