<nav aria-label="breadcrumb" class=" navbar navbar-custom bread">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Domov</a></li>
    <li class="breadcrumb-item"><a routerLink="/kategorije">Kategorije</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pijaca</li>
  </ol>
</nav>

<div class="card-group">
  <div *ngFor="let pijaca of pijaca">
    <div *ngIf="pijaca.kategorija === 'Pijača'">
      <div class="card">
        <img class="card-img-top" src={{pijaca.imgSrc}} alt ="pijaca">
        <div class="card-body">
          <div class="text-center">
            <h5 class="card-title">{{pijaca.naziv}}</h5>
            <a routerLink="/kategorije/{{pijaca._id}}" class="btn btn-outline-warning">O izdelku</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
