<div class="card-group">
  <div class="card">
    <div class="card-body">
      <H5> Brisanje izdelka</H5>
      <button type="button" class="btn btn-danger btn-sm"><span class="fas fa-eraser"></span>&nbsp;Izbriši izdelek
<!--        izdelek-->
      </button>
<!--      <a routerLink="/prodajalecHome/" class="b-left btn btn-outline-success text-success">Nazaj na pregled</a>-->
      <br><br>
      <a href="javascript:history.back()" class="btn btn-outline-warning">Nazaj</a>
      <!--      <h4>Urejanje zaloge in cene izdelka <strong>{{izdelek.ime}}</strong></h4>-->
<!--      <p>Kategorija: {{izdelek.kategorija}}</p>-->
<!--      <p>Trenutna cena: {{izdelek.cena}}</p>-->
<!--      <p>Trenutno na voljo: {{izdelek.kolicina}} kg</p>-->
<!--      <form (ngSubmit)="urediIzbraniIzdelek()">-->
<!--        <div class="row">-->
<!--          <div class="col">-->
<!--            <input [(ngModel)]="urediPodatke.cena" type="text" name="cena" id="cena" class="form-control" placeholder="Cena (eur/kg)">-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <input [(ngModel)]="urediPodatke.kolicina" type="text" name="kolicina" id="kolicina" class="form-control" placeholder="Trenutna količina na voljo">-->
<!--          </div>-->
<!--        </div>-->
<!--        <br>-->
<!--&lt;!&ndash;        <div class="form-check">&ndash;&gt;-->
<!--&lt;!&ndash;          <input class="form-check-input" type="radio" name="exampleRadios" id="navoljo-da" value="option1" checked>&ndash;&gt;-->
<!--&lt;!&ndash;          <label class="form-check-label">Na voljo</label>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="form-check">&ndash;&gt;-->
<!--&lt;!&ndash;          <input class="form-check-input" type="radio" name="exampleRadios" id="navoljo-ne" value="option2">&ndash;&gt;-->
<!--&lt;!&ndash;          <label class="form-check-label">Ni na voljo</label>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <button type="submit" class="btn btn-outline-success text-success">Shrani</button>-->
<!--      </form>-->
<!--      <br>-->
<!--      <a href="javascript:history.back()" class="btn btn-outline-warning">Nazaj</a>-->

    </div>
  </div>

</div>
