<div class="card-group">
    <div class="card prijavna-stran">
        <div class="card-body">
            <h5 class="card-title">Izbris vseh obstoječih podatkov iz podatkovne baze</h5>
            <a href="#" class="btn btn-outline-warning">Izbris vsebine podatkovne baze</a>
        </div>
    </div>
    <div class="card prijavna-stran">
        <div class="card-body">
            <h5 class="card-title">Vnos začetnih podatkov v podatkovno bazo.</h5>
            <a href="#" class="btn btn-outline-warning">Vnos začetnih podatkov</a>
        </div>
    </div>
</div>