{{!--<h1>{{message}}</h1>--}}
{{!--<h2>{{error.status}}</h2>--}}
{{!--<pre>{{error.stack}}</pre>--}}

<div class="card-group">
    <div class="card prijavna-stran">
        <div class="card-body">
            <h5>Ta stran žal ne obstaja!</h5>
            <br>
            <a class="btn btn-outline-warning" href="javascript:history.back()">Vrni se na prejšnjo stran</a>
        </div>
    </div>
</div>