	<div class="card-group">
				<div class="card">
					<div class="card-body">
							<br>
						<h5 class="card-title" style="text-align:center;">PRIJAVA</h5>
						<p style="text-align:center;">obstoječega prodajalca.</p>
						<br>
						<p style="text-align:center;">Še nimate računa?</p>
						<a href="/registracijaProdajalec"><p style="text-align:center;">Registrirajte se.</p></a>

					</div>
				</div>
				<div class="card">
						<div class="card-body">
						<form action="/prodajalecPregled">
								<div class="form-group">
									<label for="exampleInputEmail1">Email naslov</label>
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="vnesite email naslov" required>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Geslo</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="vnesite geslo" minlength="8" required>
								</div>
								<br>
								<div class="text-center">
								<button type ="submit" id="oddaja" class="btn btn-outline-success text-success">Prijava</button>
								</div>
							</form>
					</div>
				</div>
				</div>