<div class="card-group">
        <div class="card prijavna-stran">
          <div class="card-body">
            <center><h4 class="card-title">Kupec</h4></center>
          <img src="../images/network.png" style="width: 60% !important;" class="card-img-top" alt="...">
            <a href="/prijavaKupec" class="b-left btn btn-outline-success text-success">Prijava</a> <a href="registracijaKupec" class="b-right btn btn-outline-warning text-warning">Registracija</a>
          </div>
        </div>
        <div class="card prijavna-stran">
          <div class="card-body">
            <center><h4 class="card-title">Prodajalec</h4></center>
          <img src="../images/farmer.png" style="width: 60% !important;" class="card-img-top" alt="...">
      
            <a href="/prijavaProdajalec" class="b-left btn btn-outline-success text-success">Prijava</a> <a href="/registracijaProdajalec" class="b-right btn btn-outline-warning text-warning">Registracija</a>
          </div>
        </div>
        </div>