<div class="card-group">
  <div class="card prijavna-stran">
    <div class="card-body">
      <!--<div class = "text-center">-->
      <h4 class="card-title text-center">Kupec</h4>
      <img src="../../../assets/images/network.png" style="width: 60% !important;" class="card-img-top" alt="Network">
      <a routerLink="/profil/prijavaKupca" class="b-left btn btn-outline-success text-success">Prijava</a> <a routerLink="/profil/registracijaKupca" class="b-right btn btn-outline-warning text-warning">Registracija</a>
    </div>
  </div>
  <div class="card prijavna-stran">
    <div class="card-body">
      <h4 class="card-title text-center">Prodajalec</h4>
      <img src="../../../assets/images/farmer.png" style="width: 60% !important;" class="card-img-top" alt="Prodajalec">

      <a routerLink="/profil/prijavaProdajalca" class="b-left btn btn-outline-success text-success">Prijava</a> <a routerLink="/profil/registracijaProdajalca" class="b-right btn btn-outline-warning text-warning">Registracija</a>
    </div>
  </div>
</div>
